<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=" am passionate about building data-driven distributed systems at global scale. I have a proven track record of delivering impactful projects at companies like Amazon, Sentilink, and Poloniex.">
  <meta name="keywords" content="aran, murphy, aran murphy, distributed systems, analytics, software, software engineer, new york, denver">
  <meta name="author" content="Aran Murphy">
  <meta property="og:title" content="Aran Murphy | Software Engineer">
  <meta property="og:description" content="I am passionate about building data-driven distributed systems at global scale. I have a proven track record of delivering impactful projects at companies like Amazon, Sentilink, and Poloniex.">
  <meta property="og:url" content="https://aranmurphy.io">
  <meta property="og:site_name" content="Aran Murphy">
  <meta property="og:image" content="/assets/img/og_thumbnail.png">
  <link rel="icon" href="/assets/img/icon.png" type="image/png">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <title>{{ title }}</title>
</head>
