<header class="hero is-primary is-medium">
  <div class="hero-head"></div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-centered">
        <div class="column is-two-thirds">
          <figure class="image is-128x128 is-inline-block">
            <img class="is-rounded" src="/assets/img/icon.png" alt="logo">
          </figure>
          <br><br>
          <h1 class="title is-1">Aran Murphy</h1>
          <h2 class="subtitle is-4">Software Engineer</h2><br>
          <span>
            <a class="icon is-medium has-text-dark" href="https://www.github.com/aranwmurphy"><i class="mdi mdi-24px mdi-github" aria-hidden="true"></i></a>&nbsp;
            <a class="icon is-medium has-text-dark" href="https://www.linkedin.com/in/aran-murphy-a1b632196"><i class="mdi mdi-24px mdi-linkedin" aria-hidden="true"></i></a>&nbsp;
            <a class="icon is-medium has-text-dark" href="mailto:aranwmurphy@gmail.com"><i class="mdi mdi-24px mdi-at" aria-hidden="true"></i></a>
          </span>
        </div>
      </div>
    </div>
  </div>
</header>
