# dependencies
node_modules

# production
build

# misc
.DS_Store

npm-debug.log
yarn-error.log
yarn.lock
.yarnclean
.vscode

# unpublished pages
src/skills.hbs
src/templates/contact.hbs
src/templates/skills.hbs
