<section id="about">
  <div class="container has-text-centered">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <figure class="image is-128x128 is-inline-block">
          <img class="is-rounded" src="/public/avatar.jpeg" alt="avatar">
        </figure>
        <br><br>
        <div class="content is-medium">
          <h2 class="title is-1 has-text-weight-light">
            About
          </h2>
          <p class="has-text-left">
            I am a driven back-end software engineer with experience in financial markets, cryptocurrency, and digital analytics. I have a strong track record of delivering efficient and maintainable solutions within tight deadlines. Outside of work, I am likely hiking, biking, or exploring local breweries and restaurants.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
