<section id="about">
  <div class="container has-text-centered">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <figure class="image is-128x128 is-inline-block">
          <img class="is-rounded" src="/public/avatar.jpeg" alt="avatar">
        </figure>
        <br><br>
        <div class="content is-medium">
          <h2 class="title is-1 has-text-weight-light">
            About
          </h2>
          <p class="has-text-left">
            I am a driven self-learner with more than a year of professional experience in digital analytics and software development. I take pride in delivering maintainable and efficient solutions on time. Outside of work, you can often find me exploring local breweries and restaurants.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
