<section id="about">
  <div class="container has-text-centered">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <figure class="image is-128x128 is-inline-block">
          <img class="is-rounded" src="/public/avatar.jpeg" alt="avatar">
        </figure>
        <br><br>
        <div class="content is-medium">
          <h2 class="title is-1 has-text-weight-light">
            About
          </h2>
          <p>
            Software Engineer and Full Stack Developer based in Cincinnati, Ohio.
            Passionate about all things security, and building quality applications from the ground up.
          </p>
        </div>
      </div>
    </div>
    <br>
    <div class="columns is-centered">
      <div class="column is-one-third">
        <a class="button is-primary is-large is-fullwidth" href="/experience">
          Learn More
        </a>
      </div>
    </div>
  </div>
</section>