<section id="contact">
  <div class="container has-text-centered">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <div class="content is-medium">
          <h2 class="title is-1 has-text-weight-light">
            Contact
          </h2>
          <p class="has-text-left">
            For the foreseeable future, I am not available for project work. However, if there is something you would like to discuss, or want to report an issue with one of my projects, please feel free to reach out.
          </p>
        </div>
      </div>
    </div>
    <br>
    <div class="columns is-centered">
      <div class="column is-one-third">
        <a class="button is-primary is-large is-fullwidth" href="mailto://aranwmurphy@gmail.com">
          Connect
        </a>
      </div>
    </div>
  </div>
</section> 
