<section id="error">
  <div class="container has-text-centered">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <div class="content is-medium">
          <h2 class="title is-1 has-text-weight-light">
            Not Found
          </h2>
          <p class="has-text-left">
            The page you requested could not be found. Please make sure that the URL is correct, or return to the home page
          </p>
        </div>
      </div>
    </div>
    <br>
    <div class="columns is-centered">
      <div class="column is-one-third">
        <a class="button is-primary is-large is-fullwidth" href="/">
          Back to home
        </a>
      </div>
    </div>
  </div>
</section>