<section id="experience">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <div class="content is-medium">
          <h2 id="experience" class="title is-1 has-text-weight-light">
            Experience
          </h2>
          <p>
            <strong>5 years experience</strong> developing and securing projects ranging from microservices to
            Software as a Service platforms.
            Proficient with a wide variety of tools and technologies.
          </p>
          <h3 class="title has-text-weight-light">
            Front end
          </h3>
          <p>
            Proficient with most Single Page Application (SPA) frameworks.
            Usage of Ajax and WebSockets for interactive applications.
            Search Engine Optimization (SEO) and accessibility best practices.
          </p>

          <h3 class="title has-text-weight-light">
            Back end
          </h3>
          <p>
            Strong advocate of the 12 Factor Application Methodology.
            Development of microservices and monolithic applications.
            Focus on security, scalability, maintainability, and reliability.
          </p>

          <h3 class="title has-text-weight-light">
            Security
          </h3>
          <p>
            Prevention and exploitation of OWASP Top 10 vulnerabilities.
            Penetration testing with Kali Linux and custom tools.
            Working to complete the Certified Ethical Hacker (CEH) certification.
          </p>

          <h3 class="title has-text-weight-light">
            Systems
          </h3>
          <p>
            Development of command line and graphical applications in C, C++, and Java.
            Intimate knowledge of Linux, Mac OSX, and Windows internals.
            Limited knowledge of kernel module development.
          </p>

          <h3 class="title has-text-weight-light">
            Cloud
          </h3>
          <p>
            Working knowledge of Amazon Web Services (AWS).
            Distribution of static assets with Content Distribution Networks (CDN).
            Message queueing for real-time updates and task delegation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>