<section id="experience">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <div class="content is-medium">
          <h2 class="title is-1 has-text-weight-light">
            Experience
          </h2>
          <p>
            5 years experience developing and securing projects 
            ranging from microservices to Software as a Service (SaaS) platforms.
            I continuously work to learn and master new tools and technologies.
          </p>
          
          <h3 class="title has-text-weight-light">
            Front end
          </h3>
          <p>
            I am proficient with most Single Page Application (SPA) frameworks and can utilize 
            Ajax and WebSockets for interactive applications. 
            I follow and comply with Search Engine Optimization (SEO) and accessibility best practices.
          </p>

          <h3 class="title has-text-weight-light">
            Back end
          </h3>
          <p>
            As a strong advocate of the 12-Factor Application Methodology, 
            I have developed robust micro-services and monolithic applications. 
            I focus on security, scalability, maintainability, and reliability.
          </p>

          <h3 class="title has-text-weight-light">
            Security
          </h3>
          <p>
            I can prevent and exploit OWASP Top 10 vulnerabilities. 
            I conduct penetration tests with Kali Linux, as well as custom tools.
            I am working to complete the Certified Ethical Hacker (CEH) certification.
          </p>

          <h3 class="title has-text-weight-light">
            Systems
          </h3>
          <p>
            I am skilled at developing command-line and graphical applications in C, C++, and Java,
            and have intimate knowledge of Linux, Mac OSX, and Windows internals. 
            Limited knowledge of kernel module development.
          </p>

          <h3 class="title has-text-weight-light">
            Cloud
          </h3>
          <p>
            I have working knowledge of Amazon Web Services (AWS) and can 
            distribute static assets with Content Distribution Networks (CDN).
            Additionally, I have utilized message queueing for real-time updates and task delegation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>