<section id="experience">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <div class="content is-medium">
          <h2 class="title is-1 has-text-weight-light">
            Experience
          </h2>
          <p>
            5 years experience developing and securing projects 
            ranging from microservices to Software as a Service platforms.
            Always working to master new technologies and tools.
          </p>
          
          <h3 class="title has-text-weight-light">
            Front end
          </h3>
          <p>
            Proficient with most Single Page Application (SPA) frameworks.
            Uses of Ajax and WebSockets for interactive applications.
            Follows Search Engine Optimization (SEO) and accessibility best practices.
          </p>

          <h3 class="title has-text-weight-light">
            Back end
          </h3>
          <p>
            Strong advocate of the 12 Factor Application Methodology.
            Develops of microservices and monolithic applications.
            Focused on security, scalability, maintainability, and reliability.
          </p>

          <h3 class="title has-text-weight-light">
            Security
          </h3>
          <p>
            Prevents and exploits of OWASP Top 10 vulnerabilities.
            Penetration testing with Kali Linux, as well as custom tools.
            Working to complete the Certified Ethical Hacker (CEH) certification.
          </p>

          <h3 class="title has-text-weight-light">
            Systems
          </h3>
          <p>
            Develops command line and graphical applications in C, C++, and Java.
            Intimate knowledge of Linux, Mac OSX, and Windows internals.
            Limited knowledge of kernel module development.
          </p>

          <h3 class="title has-text-weight-light">
            Cloud
          </h3>
          <p>
            Working knowledge of Amazon Web Services (AWS).
            Distributes of static assets with Content Distribution Networks (CDN).
            Utilizes message queueing for real-time updates and task delegation.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>