  <footer class="footer has-background-dark">
    <div class="container has-text-centered">
      <div class="columns is-centered">
        <div class="column is-two-thirds">
          <p class="has-text-light">
            Copyright © 2021
            <a class="has-text-light" href="/">
              Aran Murphy
            </a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>