@charset "utf-8";
$mdi-font-path: '~@mdi/font/fonts';
@import '~@mdi/font/scss/materialdesignicons.scss';
@import "variables";
@import "~bulma/bulma";
@import "overrides";

.navbar, .hero-foot > .container {
    padding: 8px;
}

section {
    padding: 16px;
    padding-top: 80px;
    padding-bottom: 80px;
}

#contact {
    background-color: rgba($blue, .3);
    border-top: 1px solid $primary;
}